@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

:root {
  font-family: 'Hind Siliguri', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  padding: 0px !important;
  margin: 0rem !important;
  max-width: 100% !important;
  --primary: #2B74B9;
  --seconday: #c471ed;
  --ancent: #08A7EC;
  --button: #2B74B9;
}

/* Basic Fixing */
.text-gray-900 {
  --tw-text-opacity: 1;
  color: white !important;
}

.gradient-border {
  background: linear-gradient(to right, var(--primary), var(--primary), var(--primary));
  border: none !important;
  z-index: 999999!important;
}
.gradient-border:hover {
  background: linear-gradient(to right, var(--seconday), var(--seconday), var(--seconday));
  border: none !important;
  z-index: 999999!important;
}

span {
  background: linear-gradient(to right, var(--primary), var(--primary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-section {
  background: #0E1628;
  color: white;
}

.course-button:hover {
  background: var(--seconday);
  color: rgb(0, 0, 0);
}
.course-button{
  background: var(--button);
  color: rgb(0, 0, 0);
}



b:first-child {
  margin-left: 0px;
}

/* Scroll Bar Design*/
::-webkit-scrollbar {
  width: 12px;
  /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #2B74B9;
  /* Set the color of the scrollbar handle */
  border-radius: 6px;
  /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #2B74B9;
  /* Set the color of the scrollbar handle on hover */
}

/* Track */
scrollbar {
  width: 12px;
  /* Set the width of the scrollbar */
}

/* Handle */
scrollbar-thumb {
  background-color: #2B74B9;
  /* Set the color of the scrollbar handle */
  border-radius: 6px;
  /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
scrollbar-thumb:hover {
  background-color: #2B74B9;
  /* Set the color of the scrollbar handle on hover */
}

/* Features Secetion */


.bg-block {
  background: #182133;
  padding: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease;
}

.bg-block-module {
  background: #182133;
  padding: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease;
}

.bg-block:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header-img img {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 5px;
}

.module-header-img img {
  height: 150px;
  width: 150px;
  margin: auto;
}

/* Hero Image */
.hero-img-react img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 150px;
  left: 150px;
  opacity: .6;
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-wordpress img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 100px;
  right: 150px;
  opacity: .6;
  transform: rotate(25deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-html img {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 120px;
  right: 150px;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-css img {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 80px;
  left: 150px;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-js img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 100px;
  left: 50%;
  right: 50%;
  margin: auto;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-bootstrap img {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -120px;
  left: 50%;
  right: 50%;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

/* Define the keyframes for the rotation */
@keyframes rotateAnimation {
  from {
    transform: rotate(-30deg);
  }

  to {
    transform: rotate(330deg);
  }
}

/* Module Section */
.module-overflow {
  height: 400px;
  overflow-y: auto;
}
.course-tag {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.course-tag div {
  border: 2px solid var(--primary);
  padding: 8px;
  color: white;
  margin-left: 10px;
  font-weight: 300;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 12px;
  color: #ffffff;
}

/* Language Section */
.bg-section-language {
  background: #182133;
}

.language-img {
  width: 50px;
  height: 50px;
  background-color: #0E1628;
  border: 0px;
  box-shadow: none;
}

.language-block {
  background: #0E1628;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.language-block:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Faq section */
.bg-block-faq {
  background: #182133;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: var(--ancent) !important;
  color: white;
}

.divide-gray-200> :not([hidden])~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
  background: transparent;
}

/* Mentor Section */
.bg-section-mentor {
  background: #182133;
}

.mentor-block {
  background: #0E1628;
  border: none !important;
}

.mentor-one {
  margin: auto;
}

/* Support */
.support-img img {
  width: 450px;
  margin-left: auto;
}

.bg-section-support {
  background: #182133;
}

/* Project Details */
.bg-section-project {
  background: #0E1628;

}

.project-img img {
  transition: transform 0.3s ease;
}

.project-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Order Now */
.before-footer{
  position: sticky;
  width: 100%;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
  border-top: 3px solid var(--seconday);
}
.course-enroll-button{
  background: #2B74B9;
}


/* Nav Section */
nav {
  background: transparent !important;
  color: white !important;
}

li>a {
  background: #182133;
  color: white !important;
  padding: 10px!important;
  border-radius: 10px;
  z-index: 999999!important;
}
.nav-container{
  z-index: 999999!important;
}

/* Hero Section */
.hero-container {
  background: #111215;
  width: 100%;

  margin-top: -80px;
  z-index: -2;
  padding-bottom: 200px;
}

.hero-container .inner-text p {
  color: white;
  font-size: 22px;
}

.hero-container .inner-text {
  font-size: 60px;
  padding-top: 15%;
  width: 90%;
  margin: auto;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.hero-container span {
  background: linear-gradient(to right, var(--primary), var(--primary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-circle {
  position: absolute;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  width: 500px;
  height: 500px;
  border-radius: 70%;
  background-image: -webkit-linear-gradient(45deg, #059dff, #0A2339);
  background-image: -o-linear-gradient(45deg, #059dff, #0A2339);
  background-image: linear-gradient(45deg, #059dff, #0A2339);
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.gradient-circle-two {
  position: absolute;
  left: auto;
  top: -100px;
  right: 0;
  bottom: auto;
  width: 500px;
  height: 500px;
  border-radius: 70%;
  background-image: linear-gradient(45deg, #0A2339, #6549d5);
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  z-index: inherit;
}

/* Responsive Data Here */
@media (max-width: 850px) {
  .hero-container .inner-text {
    font-size: 35px;
    padding-top: 50%;
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 900;
  }

  .mobile-off-button {
    display: none;
  }

  nav {
    width: 90%;
    margin: auto;
  }

  .flowbite-navbar-collapse {
    background-color: white;
  }

  li>a {
    color: black !important;
  }

  /* Product Container */

  .product-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }

  .workShow-container h2 {
    font-size: 30px;
  }

  .hero-container {
    background: #111215;
    height: auto;
    width: 100%;
    position: relative;
    margin-top: -80px;
    z-index: -2;
    padding-bottom: 120px;
  }

  .gradient-circle {
    display: none;
  }

  .hero-container h1 {
    text-transform: uppercase;
  }

  .w-full {
    width: 100%;
    background: transparent;
    text-align: center;
  }
  .mbl-enroll-btn{
    margin: auto!important;
  }
  .mbl-heading{
    margin-top: -90px;
    margin-left: 50px;
  }
  .mbl-social-icon{
    display: flex;
    justify-content: center!important;
  }
  .mbl-footer-container{
    background: #333333;
    color: white;
    border-radius: 0px!important;
  }
  /* Hero Section Working */
  /* Hero Image */
.hero-img-react img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 150px;
  left: 10px;
  opacity: .6;
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-wordpress img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 180px;
  right: 10px;
  opacity: .6;
  transform: rotate(25deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-html img {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 120px;
  right: 10px;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-css img {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 80px;
  left: 10px;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-js img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 80px;
  left: 40%;
  right: 50%;
  margin: auto;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}

.hero-img-bootstrap img {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
  opacity: .6;
  transform: rotate(-30deg);
  animation: rotateAnimation 5s linear infinite;
}
.inner-text p{
  font-size: 15px!important;
  margin-bottom: 20px;
}
.course-tag {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}



}

@media(max-width:900px) {
  .workShow-container .working-category li {
    margin-top: 50px;
  }
}